
.background-yellow {
    -fx-background-color: #f5c518;
}

.background-black {
    -fx-background-color: #61888c;
}

.background-light-black {
    -fx-background-color: #232628;
}

.background-grey {
    -fx-background-color: #6F6464;
}

.background-light-grey {
    -fx-background-color: #5E7A7D;
}

.background-blue {
    -fx-background-color: #4AAFE1;
}

.text-yellow {
    -fx-text-fill: #f5c518;
}

.text-white {
    -fx-text-fill: #ffffff;
}

.text-light-grey {
    -fx-text-fill: #B3B3B3;
}

.list-view .list-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
}